@import "common/common";

body, html {
  width: 100%;
  height: 100%;
  background-color: $bg_color;
  position: relative;
  margin: 0 auto;
  font-family: MicrosoftYaHei;
}

#screen {
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  box-sizing: border-box;
  height: 101px;
  padding: 0 15px;
  background: url("../img/header_bg.png");
  background-size: 100% 100% ;
  display: flex;

  // 右上角时间
  #date_time {
    padding-top: 7px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #40F3EF;
  }
  .left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    .top {
      height: 35px;
    }

    .middle {
      display: flex;
      width: 100%;
    }
  }

  // 顶部中间的部分
  .center {
    flex: 0 0 590px;
    display: flex;
    flex-direction: column;
    .title {
      flex: 1;
      padding-top: 14px;
      height: 31px;
      font-size: 32px;
      font-family: Microsoft YaHei;
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
      text-shadow: 0 6px 10px rgba(0, 16, 45, 0.2);
    }
    #countDown {
      padding-bottom: 5px;
      font-size: 24px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      text-align: center;
      color: #FFFFFF;
      & > span {
        color: #58EBE9;
      }
    }
  }

  // 顶部导航的
  .nav_item {
    flex: 1 1 130px;
    cursor: pointer;
    padding: 0 5px;
    height: 30px;
    background: url("../img/nav_item.png");
    background-size: 100% 100%;
    line-height: 30px;
    text-align: center;
    &.active, &:hover {
      background-image: url("../img/nav_item_active.png");
      a {
        color: #FFFFFF;
      }
    }

    a {
      font-size: 18px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #18BFBB;
    }
  }

  .right {
    .top {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      // 切换项目组  select
      .layui-form-select {
        width: 180px;
        input {
          height: 24px;
          background: #0C0D21;
          border: #0C0D21;
          color: #fff
        }
        input::-webkit-input-placeholder {
          color: #fff;
        }
        .layui-edge {
          border-top-color: #10BEBA;
        }
      }

      .opt_item {
        width: 16px;
        height: 16px;
        margin-left: 15px;
        cursor: pointer;
        background-size: 100% 100%;
      }
      .opt_item:nth-child(1) {
        background-image: url("../img/opt_item3.png");
      }
      .opt_item:nth-child(2) {
        background-image: url("../img/opt_item2.png") ;
      }
      .opt_item:nth-child(3) {
        background-image: url("../img/opt_item1.png") ;
      }
    }
  }
}


#plate_nav {
  display: flex;
  padding-bottom: 34px;
  .plate_item {
    flex: 1;
    display: flex;
    justify-content: center;
    .plate_box_long, .plate_box {
      position: relative;
      width: 156px;
      height: 104px;
      background: url("../img/plate.png") no-repeat;
      background-size: 100% 100%;
      &:after {

      }
      .plate_til {
        font-size: 16px;
        width: 80px;
        text-align: center;
        line-height: 28px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #03FFE4;
      }
      .plate_num {
        font-size: 42px;
        margin-top: 4px;
        font-family: Impact;
        text-align: center;
        font-weight: 400;
        color: #FFFFFF;
        text-shadow: 0px 2px 4px rgba(0, 16, 45, 0.32);
        p {
          width: 100%;
          position: relative;
          .unit {
            display: block;
            content: '/个';
            width: 30px;
            font-size: 14px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #FFFFFF;
            position: absolute;
            top: 45%;
            right: 4px;
          }
        }
      }
    }

    .plate_box_long {
      background-image: url("../img/plate_long.png");
      .plate_til {
        width: 112px;
      }
    }
  }
}

main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  .charts_content_box_280 , .charts_content_box {
    width: 618px;
    height: 405px;
    display: flex;
    flex-direction: column;
    background: url("../img/charts_content_box.png");
    background-size: 100% 100%;
    .content-header {
      width: 100%;
      height: 30px;
      padding-top: 3px;
      padding-left: 2px;
      line-height: 30px;
      .ch-tit {
        font-size: 18px;
        padding: 0 8px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #FEFFFF;
      }

      .nav_tit {
        display: inline-block;
        cursor: pointer;
        .ch-tit {
          color: #40F3EF !important;
        }
        &.active {
          background-color: #111234;
          .ch-tit {
            color: #FEFFFF !important;
          }
        }
      }
    }

    .nav_tab_content {
      display: none;
      height: 100%;

    }
    .normal_chart,.main_body_table {
      width: 100%;
      height: 100%;
    }


    .main_body {
      flex: 1;
      height: 0;
      .pie_chart {
        width: 100%;
        height: 100%;
      }

    }
  }

  .charts_content_box_280 {
    background-image: url("../img/charts_content_box_280.png");
  }
  .charts_content_box_220 {
    background-image: url("../img/charts_content_box_220.png");
  }
}


.main_body_table {
  box-sizing: border-box;
  padding: 0 8px;

  .layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table[lay-even] tr:nth-child(even) {
    background-color: transparent;
  }
  .layui-table-view {
    border-color: #2FF9F0;
    margin: 0;
  }
  .layui-table-header {
    border-color: #2FF9F0;
    tr {
      background-color: #141546 !important;
      color: #fff;
    }

  }
  tr td{
    border-color: #2FF9F0;
    border-right: none;
    color: #2FF9F0;
    word-wrap:break-word;
  }
  .layui-table-cell {
    font-size: 16px;
    height: auto;
    white-space: inherit;
  }
  .layui-table {
    width: 100% ;
    background: initial !important;
  }
  .layui-table-body {
    overflow: hidden;
  }
  .layui-table-init {
    background-color: initial;
  }
  .layui-table-view .layui-table th {
    border-right: none;
  }
}
//#m_modal {
//  position: fixed;
//  width: 100vw;
//  height: 100vh;
//  z-index: 10;
//  background: rgba(0,0,0, .3);
//}
.modal_content {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1220px;
  height: 593px;
  background: url("../img/modal_box.png");
  background-size: 100%;
  filter: drop-shadow(0px 0px 50px rgba(13,251,232,0.2));
  padding: 20px 25px 0 38px;

  .modal_header {
    //padding: 0 ;
    span {
      font-size: 18px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #FEFFFF;
      float: left;
    }
    i {
      float: right;
      color: #0DFBE7;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      cursor: pointer;
      text-align: center;
      width: 24px;
      border-radius: 50%;
      display: block;
      background: #001C59;
      height: 24px;
    }
  }

  .modal_body {
    flex: 1;
    height: 0;
    margin-top: 35px;
  }
}
