@charset "UTF-8";
body, html {
  width: 100%;
  height: 100%;
  background-color: #0C0D21;
  position: relative;
  margin: 0 auto;
  font-family: MicrosoftYaHei;
}

#screen {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  box-sizing: border-box;
  height: 101px;
  padding: 0 15px;
  background: url("../img/header_bg.png");
  background-size: 100% 100%;
  display: flex;
}
header #date_time {
  padding-top: 7px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #40F3EF;
}
header .left, header .right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
header .left .top, header .right .top {
  height: 35px;
}
header .left .middle, header .right .middle {
  display: flex;
  width: 100%;
}
header .center {
  flex: 0 0 590px;
  display: flex;
  flex-direction: column;
}
header .center .title {
  flex: 1;
  padding-top: 14px;
  height: 31px;
  font-size: 32px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 6px 10px rgba(0, 16, 45, 0.2);
}
header .center #countDown {
  padding-bottom: 5px;
  font-size: 24px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
}
header .center #countDown > span {
  color: #58EBE9;
}
header .nav_item {
  flex: 1 1 130px;
  cursor: pointer;
  padding: 0 5px;
  height: 30px;
  background: url("../img/nav_item.png");
  background-size: 100% 100%;
  line-height: 30px;
  text-align: center;
}
header .nav_item.active, header .nav_item:hover {
  background-image: url("../img/nav_item_active.png");
}
header .nav_item.active a, header .nav_item:hover a {
  color: #FFFFFF;
}
header .nav_item a {
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #18BFBB;
}
header .right .top {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
header .right .top .layui-form-select {
  width: 180px;
}
header .right .top .layui-form-select input {
  height: 24px;
  background: #0C0D21;
  border: #0C0D21;
  color: #fff;
}
header .right .top .layui-form-select input::-webkit-input-placeholder {
  color: #fff;
}
header .right .top .layui-form-select .layui-edge {
  border-top-color: #10BEBA;
}
header .right .top .opt_item {
  width: 16px;
  height: 16px;
  margin-left: 15px;
  cursor: pointer;
  background-size: 100% 100%;
}
header .right .top .opt_item:nth-child(1) {
  background-image: url("../img/opt_item3.png");
}
header .right .top .opt_item:nth-child(2) {
  background-image: url("../img/opt_item2.png");
}
header .right .top .opt_item:nth-child(3) {
  background-image: url("../img/opt_item1.png");
}

#plate_nav {
  display: flex;
  padding-bottom: 34px;
}
#plate_nav .plate_item {
  flex: 1;
  display: flex;
  justify-content: center;
}
#plate_nav .plate_item .plate_box_long, #plate_nav .plate_item .plate_box {
  position: relative;
  width: 156px;
  height: 104px;
  background: url("../img/plate.png") no-repeat;
  background-size: 100% 100%;
}
#plate_nav .plate_item .plate_box_long .plate_til, #plate_nav .plate_item .plate_box .plate_til {
  font-size: 16px;
  width: 80px;
  text-align: center;
  line-height: 28px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #03FFE4;
}
#plate_nav .plate_item .plate_box_long .plate_num, #plate_nav .plate_item .plate_box .plate_num {
  font-size: 42px;
  margin-top: 4px;
  font-family: Impact;
  text-align: center;
  font-weight: 400;
  color: #FFFFFF;
  text-shadow: 0px 2px 4px rgba(0, 16, 45, 0.32);
}
#plate_nav .plate_item .plate_box_long .plate_num p, #plate_nav .plate_item .plate_box .plate_num p {
  width: 100%;
  position: relative;
}
#plate_nav .plate_item .plate_box_long .plate_num p .unit, #plate_nav .plate_item .plate_box .plate_num p .unit {
  display: block;
  content: "/个";
  width: 30px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FFFFFF;
  position: absolute;
  top: 45%;
  right: 4px;
}
#plate_nav .plate_item .plate_box_long {
  background-image: url("../img/plate_long.png");
}
#plate_nav .plate_item .plate_box_long .plate_til {
  width: 112px;
}

main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
}
main.main_left_right {
  flex-wrap: nowrap;
  align-items: initial;
}
main.main_left_right .main_left {
  margin-right: 16px;
}
main.main_left_right .main_right {
  flex: 1;
}
main .charts_content_box_461_280, main .charts_content_box_280, main .charts_content_box_308, main .charts_content_box {
  width: 618px;
  height: 405px;
  display: flex;
  flex-direction: column;
  background: url("../img/charts_content_box.png");
  background-size: 100% 100%;
}
main .charts_content_box_461_280 .content-header, main .charts_content_box_280 .content-header, main .charts_content_box_308 .content-header, main .charts_content_box .content-header {
  width: 100%;
  height: 30px;
  padding-top: 3px;
  padding-left: 2px;
  line-height: 30px;
}
main .charts_content_box_461_280 .content-header .ch-tit, main .charts_content_box_280 .content-header .ch-tit, main .charts_content_box_308 .content-header .ch-tit, main .charts_content_box .content-header .ch-tit {
  font-size: 18px;
  padding: 0 8px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FEFFFF;
}
main .charts_content_box_461_280 .content-header .nav_tit_right_tip, main .charts_content_box_280 .content-header .nav_tit_right_tip, main .charts_content_box_308 .content-header .nav_tit_right_tip, main .charts_content_box .content-header .nav_tit_right_tip {
  float: right;
  font-size: 16px;
  padding-right: 33px;
}
main .charts_content_box_461_280 .content-header .nav_tit_right, main .charts_content_box_280 .content-header .nav_tit_right, main .charts_content_box_308 .content-header .nav_tit_right, main .charts_content_box .content-header .nav_tit_right {
  float: right;
  margin: 0 20px;
}
main .charts_content_box_461_280 .content-header .nav_tit_right span, main .charts_content_box_280 .content-header .nav_tit_right span, main .charts_content_box_308 .content-header .nav_tit_right span, main .charts_content_box .content-header .nav_tit_right span {
  font-size: 14px !important;
}
main .charts_content_box_461_280 .content-header .nav_tit_right_v2, main .charts_content_box_280 .content-header .nav_tit_right_v2, main .charts_content_box_308 .content-header .nav_tit_right_v2, main .charts_content_box .content-header .nav_tit_right_v2 {
  float: right;
  margin: 0 10px;
  font-size: 16px;
}
main .charts_content_box_461_280 .content-header .nav_tit, main .charts_content_box_280 .content-header .nav_tit, main .charts_content_box_308 .content-header .nav_tit, main .charts_content_box .content-header .nav_tit {
  display: inline-block;
  cursor: pointer;
}
main .charts_content_box_461_280 .content-header .nav_tit .ch-tit, main .charts_content_box_280 .content-header .nav_tit .ch-tit, main .charts_content_box_308 .content-header .nav_tit .ch-tit, main .charts_content_box .content-header .nav_tit .ch-tit {
  color: #FEFFFF;
}
main .charts_content_box_461_280 .content-header .nav_tit.active, main .charts_content_box_280 .content-header .nav_tit.active, main .charts_content_box_308 .content-header .nav_tit.active, main .charts_content_box .content-header .nav_tit.active {
  border-radius: 2px;
  background-color: #0C0D21;
}
main .charts_content_box_461_280 .content-header .nav_tit.active .ch-tit, main .charts_content_box_280 .content-header .nav_tit.active .ch-tit, main .charts_content_box_308 .content-header .nav_tit.active .ch-tit, main .charts_content_box .content-header .nav_tit.active .ch-tit {
  color: #37D1CE !important;
}
main .charts_content_box_461_280 .nav_tab_content, main .charts_content_box_280 .nav_tab_content, main .charts_content_box_308 .nav_tab_content, main .charts_content_box .nav_tab_content {
  display: none;
  height: 100%;
}
main .charts_content_box_461_280 .normal_chart, main .charts_content_box_461_280 .main_body_table, main .charts_content_box_280 .normal_chart, main .charts_content_box_280 .main_body_table, main .charts_content_box_308 .normal_chart, main .charts_content_box_308 .main_body_table, main .charts_content_box .normal_chart, main .charts_content_box .main_body_table {
  width: 100%;
  height: 100%;
}
main .charts_content_box_461_280 .main_body, main .charts_content_box_280 .main_body, main .charts_content_box_308 .main_body, main .charts_content_box .main_body {
  flex: 1;
  height: 0;
  position: relative;
}
main .charts_content_box_461_280 .main_body .pie_chart, main .charts_content_box_280 .main_body .pie_chart, main .charts_content_box_308 .main_body .pie_chart, main .charts_content_box .main_body .pie_chart {
  width: 100%;
  height: 100%;
}
main .charts_content_box_280 {
  background-image: url("../img/charts_content_box_280.png");
}
main .charts_content_box_280_2nav {
  background-image: url("../img/charts_content_box_280_2nav.png");
}
main .charts_content_box_461_280 {
  width: 461px;
  background-image: url("../img/charts_content_box_461_280.png");
}
main .charts_content_box_935_576 {
  width: 935px;
  background-image: url("../img/charts_content_box_935_576.png");
}
main .charts_content_box_220 {
  background-image: url("../img/charts_content_box_220.png");
}
main .charts_content_box_308 {
  background-image: url("../img/charts_content_box_308.png");
}
main .charts_content_box_1251 {
  width: 1251px;
  background-image: url("../img/charts_content_box_1251.png");
}
main .charts_content_box_632 {
  width: 100%;
  height: 100%;
  background-image: url("../img/charts_content_box_632.png");
  background-size: 100% 100%;
}
main #map_container {
  box-sizing: border-box;
  padding: 9px 9px 21px;
  position: relative;
}
main #map_container .map {
  width: 100%;
  height: 100%;
  position: relative;
}
main #map_container .statistics {
  position: absolute;
  width: calc(100% - 18px);
  bottom: 21px;
  height: 191px;
  display: flex;
}
main #map_container .statistics .left {
  width: 380px;
  background-color: rgba(17, 18, 52, 0.8);
  height: 100%;
  display: flex;
  box-sizing: border-box;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 16px 21px;
  justify-content: space-between;
}
main #map_container .statistics .statistics_item, main #map_container .statistics .statistics_item_noicon {
  width: 155px;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #2DDDD8;
}
main #map_container .statistics .statistics_item:nth-child(2) .icon, main #map_container .statistics .statistics_item_noicon:nth-child(2) .icon {
  background-image: url("../img/statistics_item2.png");
}
main #map_container .statistics .statistics_item .icon, main #map_container .statistics .statistics_item_noicon .icon {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background: url("../img/statistics_item1.png") 100% 100%;
  background-size: 100% 100%;
}
main #map_container .statistics .statistics_item .num_content, main #map_container .statistics .statistics_item_noicon .num_content {
  padding-left: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main #map_container .statistics .statistics_item .num_content .h, main #map_container .statistics .statistics_item_noicon .num_content .h {
  height: 24px;
  font-size: 30px;
  font-family: Impact;
  font-weight: 400;
  color: #111234;
}
main #map_container .statistics .statistics_item .num_content .desc, main #map_container .statistics .statistics_item_noicon .num_content .desc {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #111234;
}
main #map_container .statistics .statistics_item_noicon {
  width: 98px;
}
main #map_container .statistics .statistics_item_noicon .num_content {
  width: 100%;
  padding-left: 0;
  text-align: center;
}
main #map_container .statistics .right {
  flex: 1;
  margin-left: 2px;
  background-color: rgba(17, 18, 52, 0.8);
}
main #map_container .statistics .right .filter_header {
  padding-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}
main #map_container .statistics .right .filter_header .date-input {
  position: relative;
  width: 283px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid #40F3EF;
}
main #map_container .statistics .right .filter_header .date-input input {
  background-color: transparent;
  outline: none;
  border: none;
  height: 100%;
  font-size: 16px;
  color: #fff;
  font-family: Microsoft YaHei;
  font-weight: 400;
}
main #map_container .statistics .right .filter_header .date-input .icon {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/date.png");
  background-size: 100% 100%;
}
main #map_container .statistics .right .filter_header .btn-search {
  padding: 0 20px;
  outline: none;
  border: none;
  height: 32px;
  cursor: pointer;
  line-height: 32px;
  background: #6EFFFA;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #111234;
}
main .device_list {
  display: flex;
  box-sizing: border-box;
  padding: 0 14px;
  align-items: center;
}
main .device_list .left_btn, main .device_list .right_btn {
  cursor: pointer;
  width: 28px;
  height: 80px;
  background: url("../img/list_btn_right.png");
  background-size: 100% 100%;
}
main .device_list .right_btn {
  background-image: url("../img/list_btn_left.png");
}
main .device_list .device_list_content {
  flex: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
}
main .device_list .device_list_content .scroll_content {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}
main .device_list .device_item {
  flex: 0 0 33.33%;
  padding-left: 30px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
main .device_list .device_item .device_type1 {
  background-image: url("../img/device_type1.png") !important;
}
main .device_list .device_item .device_type2 {
  background-image: url("../img/device_type2.png") !important;
}
main .device_list .device_item .device_type3 {
  background-image: url("../img/device_type3.png") !important;
}
main .device_list .device_item .icon {
  display: inline-block;
  vertical-align: bottom;
  width: 56px;
  height: 56px;
  background-image: url("../img/device_type1.png");
  background-size: 100%;
}
main .device_list .device_item .device_name, main .device_list .device_item .device_label {
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #40F3EF;
  line-height: 26px;
}
main .device_list .device_item .device_name {
  padding: 0 10px;
}
main .device_list .device_item .device_label {
  display: inline-block;
  width: 100px;
}
main .device_list .device_item .number {
  font-size: 18px;
  font-family: Impact;
  font-weight: 400;
  color: #FEFFFF;
}

.main_body_table {
  box-sizing: border-box;
  padding: 0 8px;
}
.main_body_table .layui-table tbody tr:hover, .main_body_table .layui-table thead tr, .main_body_table .layui-table-click, .main_body_table .layui-table-header, .main_body_table .layui-table-hover, .main_body_table .layui-table-mend, .main_body_table .layui-table-patch, .main_body_table .layui-table-tool, .main_body_table .layui-table[lay-even] tr:nth-child(even) {
  background-color: transparent;
}
.main_body_table .layui-table-view {
  border-color: rgba(47, 249, 240, 0.4);
  margin: 0;
}
.main_body_table .layui-table-view .layui-table {
  width: 100%;
}
.main_body_table .layui-table-header {
  border-color: rgba(47, 249, 240, 0.4);
}
.main_body_table .layui-table-header tr {
  background-color: #141546 !important;
  color: #fff;
}
.main_body_table tr td {
  border-color: rgba(47, 249, 240, 0.4);
  border-right: none;
  color: #34B8BE;
  word-wrap: break-word;
}
.main_body_table .layui-table-cell {
  font-size: 16px;
  height: auto;
  white-space: inherit;
}
.main_body_table .layui-table {
  width: 100%;
  background: initial !important;
}
.main_body_table .layui-table-body {
  overflow: hidden;
}
.main_body_table .layui-table-init {
  background-color: initial;
}
.main_body_table .layui-table-view .layui-table th {
  border-right: none;
}

.modal_content {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1220px;
  height: 593px;
  background: url("../img/modal_box.png");
  background-size: 100%;
  filter: drop-shadow(0px 0px 50px rgba(13, 251, 232, 0.2));
  padding: 20px 25px 0 38px;
}
.modal_content .modal_header span {
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FEFFFF;
  float: left;
}
.modal_content .modal_header i {
  float: right;
  color: #0DFBE7;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  width: 24px;
  border-radius: 50%;
  display: block;
  background: #001C59;
  height: 24px;
}
.modal_content .modal_body {
  flex: 1;
  height: 0;
  margin-top: 35px;
}

.main_body .preview_img {
  margin: 0 9px 20px 9px;
  height: calc(100% - 20px);
  position: relative;
}
.main_body .fill_screen_btn {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("../img/fullscreen.png");
  background-size: 100% 100%;
  cursor: pointer;
  right: 3px;
  bottom: 5px;
  z-index: 2;
}

.custom_progress_chart {
  display: flex;
  padding: 20px 0;
  height: 100%;
  box-sizing: border-box;
}
.custom_progress_chart .progress_chart {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.custom_progress_chart .progress_chart .progress_num, .custom_progress_chart .progress_chart .progress_desc {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FFFFFF;
}
.custom_progress_chart .progress_chart .progress_body {
  height: 170px;
  width: 26px;
  background-color: #40F3EF;
  border-radius: 12px;
  overflow: hidden;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.custom_progress_chart .progress_chart .progress_body .progress_value {
  display: inline-block;
  width: 100%;
  border-radius: 12px 12px 0 0;
  background-color: #FF9125;
}

.map_type {
  z-index: 6;
  position: absolute;
  left: 16px;
  top: 65px;
}

.map_type .map_figure {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 98px;
  margin: 0 2px;
  height: 56px;
  vertical-align: top;
  color: #FFF;
  background: url("../img/maptype.png") no-repeat;
  background-size: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.75;
}

.map_type .map_figure .txt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  font-size: 16px;
  line-height: 1.8;
  color: #40F3EF;
  text-align: center;
  background: rgba(21, 23, 83, 0.64);
}

#btn_mapType {
  background-position: 0 -112px;
}

#btn_mapType2 {
  background-position: 0 -56px;
}

.map_type .map_figure.cur {
  border: 1px solid #FFF !important;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
  opacity: 1;
}

.msg {
  position: absolute;
  top: 0;
  left: 410px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  height: 38px;
  padding: 0 8px;
  font-size: 14px;
  line-height: 38px;
  color: #FFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(191, 239, 255, 0.05);
}

.ico_msg {
  width: 18px;
  height: 18px;
  margin: 0 6px;
  background-position: -240px -40px;
}

.search_area {
  position: absolute;
  right: 0;
  top: 0;
  width: 238px;
  height: 40px;
  box-sizing: border-box;
  font-family: "Microsoft Yahei";
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #3BDFDD;
  background: rgba(20, 21, 64, 0.7);
}
.search_area input::-webkit-input-placeholder {
  color: #FEFFFF;
}
.search_area input:-moz-placeholder {
  color: #FEFFFF;
}
.search_area input::-moz-placeholder {
  color: #FEFFFF;
}
.search_area input:-ms-input-placeholder {
  color: #FEFFFF;
}

.search_area .inp_t {
  height: 30px;
  width: 186px;
  padding: 3px 10px;
  background: none;
  border: none;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FEFFFF;
}

.search_area .btn_sea {
  width: 14px;
  height: 14px;
  border: none;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/map_search.png");
  background-size: 100%;
}

.translate_wrap {
  position: absolute;
  top: 38px;
  left: 0;
  width: 238px;
  line-height: 1.65;
  border-radius: 4px;
  border: 1px solid rgba(191, 239, 255, 0.05);
  background: rgba(191, 239, 255, 0.2);
}

.translate_wrap .list {
  overflow: auto;
  max-height: 160px;
}

.translate_wrap .list li {
  padding: 5px 10px;
  color: #FEFFFF;
  font-size: 16px;
}

.translate_wrap .list li:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.condition {
  display: inline-block;
  height: 40px;
  padding-left: 10px;
  background: #141540;
  box-sizing: border-box;
  border: 1px solid rgba(59, 223, 221, 0.7);
  border-radius: 2px;
}
.condition .layui-form-checkbox[lay-skin=primary] span {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FEFFFF;
}
.condition .layui-form-checked[lay-skin=primary] i {
  background-color: #3BDFDD;
  border-color: #3BDFDD !important;
}

#video-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 100%;
}
#video-container .video_box {
  margin: 8px;
  background: linear-gradient(to left, #238487, #238487) top no-repeat, linear-gradient(to left, #238487, #238487) bottom no-repeat, linear-gradient(to bottom, #238487, #238487) left no-repeat, linear-gradient(to bottom, #238487, #238487) right no-repeat;
  background-size: calc(100% - 340px) 1px, calc(100% - 340px) 1px, 1px calc(100% - 340px), 1px calc(100% - 340px);
  position: relative;
  box-sizing: border-box;
  padding: 2px 2px 20px;
}
#video-container .video_box div.bg_border {
  position: absolute;
  width: 170px;
  height: 170px;
  background-size: 100% 100%;
}
#video-container .video_box .bg_left_top {
  left: 0;
  top: 0;
  background-image: url("../img/video_bg_left_top.png");
}
#video-container .video_box .bg_left_bottom {
  left: 0;
  bottom: 0;
  background-image: url("../img/video_bg_left_bottom.png");
}
#video-container .video_box .bg_right_top {
  right: 0;
  top: 0;
  background-image: url("../img/video_bg_right_top.png");
}
#video-container .video_box .bg_right_bottom {
  right: 0;
  bottom: 0;
  z-index: 2;
  background-image: url("../img/video_bg_right_bottom.png");
}
#video-container .video_box .header_title, #video-container .video_box .video_bottom_opt {
  height: 40px;
  background-color: #15164F;
  padding: 0 8px;
  line-height: 40px;
  display: flex;
}
#video-container .video_box .header_title .til, #video-container .video_box .video_bottom_opt .til {
  flex: 1;
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FEFFFF;
}
#video-container .video_box .header_title .video_opt, #video-container .video_box .video_bottom_opt .video_opt {
  display: flex;
  align-items: center;
  justify-content: center;
}
#video-container .video_box .header_title .video_top_opt, #video-container .video_box .video_bottom_opt .video_top_opt {
  margin-left: 18px;
  cursor: pointer;
}
#video-container .video_box .header_title .camera, #video-container .video_box .video_bottom_opt .camera {
  background-image: url("../img/camera.png");
}
#video-container .video_box .header_title .videotape, #video-container .video_box .video_bottom_opt .videotape {
  background-image: url("../img/videotape.png");
}
#video-container .video_box .header_title .zoom, #video-container .video_box .video_bottom_opt .zoom {
  background-image: url("../img/zoom.png");
  margin-right: 8px;
}
#video-container .video_box .video_body {
  height: calc(100% - 40px);
  box-sizing: border-box;
  padding: 0 8px;
  background-color: #111234;
}
#video-container .video_box .video_body video {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
#video-container .video_box .video_bottom_opt {
  padding-top: 8px;
  justify-content: flex-end;
  height: 60px;
  position: absolute;
  box-sizing: border-box;
  width: calc(100% - 4px);
  bottom: 2px;
  z-index: 1;
  padding-right: 18px;
  background-color: rgba(21, 22, 79, 0.88);
}
#video-container .video_box .video_bottom_opt button {
  height: 24px;
  cursor: pointer;
  border: none;
  line-height: 24px;
  outline: none;
  padding: 0 10px;
  background: #2548C9;
  border-radius: 2px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #6EFFFA;
}
#video-container .video_box .video_bottom_opt i {
  margin-left: 17px;
}
#video-container .video_box .video_bottom_opt .reback {
  background-image: url("../img/reback.png");
}
#video-container .video_box .video_bottom_opt .bigscreen {
  background-image: url("../img/bigscreen.png");
}
#video-container.video_size_4 .video_box {
  flex: 0 0 calc(50% - 8px);
  height: calc(50% - 8px);
}
#video-container.video_size_4 .video_box:nth-child(-n+2) {
  margin-top: 0;
}
#video-container.video_size_4 .video_box:nth-child(n+2) {
  margin-bottom: 0;
}
#video-container.video_size_4 .video_box:nth-child(2n-1) {
  margin-left: 0;
}
#video-container.video_size_4 .video_box:nth-child(2n) {
  margin-right: 0;
}
#video-container.video_size_9 .video_box {
  flex: 0 0 calc(33.3% - 10.7px);
  height: calc(33.3% - 10.7px);
}
#video-container.video_size_9 .video_box:nth-child(-n+3) {
  margin-top: 0;
}
#video-container.video_size_9 .video_box:nth-child(n+6) {
  margin-bottom: 0;
}
#video-container.video_size_9 .video_box:first-child, #video-container.video_size_9 .video_box:nth-child(3n+1) {
  margin-left: 0;
}
#video-container.video_size_9 .video_box:nth-child(3n) {
  margin-right: 0;
}

.icon_wyc {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 37px;
  box-sizing: border-box;
}
.icon_wyc .wyc_item {
  display: flex;
  align-items: center;
  flex: 0 0 33.3%;
}
.icon_wyc .wyc_item .wyc_content {
  margin-left: 20px;
}
.icon_wyc .wyc_item .wyc_content p {
  font-size: 30px;
  font-family: Impact;
  font-weight: 400;
  color: #FEFFFF;
}
.icon_wyc .wyc_item .wyc_content p span:last-child {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FEFFFF;
}
.icon_wyc .wyc_item .wyc_content p:last-child {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FEFFFF;
}

.percent_cricle {
  width: 196px;
  height: 196px;
  background: url("../img/percent_circle.png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.percent_cricle .percent_num {
  font-size: 30px;
  font-family: Impact;
  font-weight: 400;
  color: #FFFFFF;
}
.percent_cricle .percent_desc {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #40F3EF;
}

.icon28 {
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  width: 28px;
  height: 28px;
  background-size: 100% 100%;
}

.icon48 {
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
}

/*# sourceMappingURL=home.css.map */
