@import "common/common";

body, html {
  width: 100%;
  height: 100%;
  //background-color: $bg_color;
  position: relative;
  margin: 0 auto;
  font-family: MicrosoftYaHei;
}

#MarkBg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("../img/bg_2.png") 100% 100%;
  background-size: contain;
}
#screen {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

header {
  width: 100%;
  box-sizing: border-box;
  height: 101px;
  padding: 0 15px;
  background: url("../img/header_bg.png");
  background-size: 100% 100%;
  display: flex;

  // 右上角时间
  #date_time {
    padding-top: 7px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #40F3EF;
  }

  .left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;

    .top {
      height: 35px;
    }

    .middle {
      display: flex;
      width: 100%;
    }
  }

  // 顶部中间的部分
  .center {
    flex: 0 0 590px;
    display: flex;
    flex-direction: column;

    .title {
      flex: 1;
      padding-top: 14px;
      height: 31px;
      font-size: 32px;
      font-family: Microsoft YaHei;
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
      text-shadow: 0 6px 10px rgba(0, 16, 45, 0.2);
    }

    #countDown {
      padding-bottom: 5px;
      font-size: 24px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      text-align: center;
      color: #FFFFFF;

      & > span {
        color: #58EBE9;
      }
    }
  }

  // 顶部导航的
  .nav_item {
    flex: 1 1 130px;
    cursor: pointer;
    padding: 0 5px;
    height: 30px;
    background: url("../img/nav_item.png");
    background-size: 100% 100%;
    line-height: 30px;
    text-align: center;

    &.active, &:hover {
      background-image: url("../img/nav_item_active.png");

      a {
        color: #FFFFFF;
      }
    }

    a {
      font-size: 18px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #18BFBB;
    }
  }

  .right {
    .top {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      // 切换项目组  select
      .layui-form-select {
        width: 180px;

        input {
          height: 24px;
          background: #0C0D21;
          border: #0C0D21;
          color: #fff
        }

        input::-webkit-input-placeholder {
          color: #fff;
        }

        .layui-edge {
          border-top-color: #10BEBA;
        }
      }

      .opt_item {
        width: 16px;
        height: 16px;
        margin-left: 15px;
        cursor: pointer;
        background-size: 100% 100%;
      }

      .opt_item:nth-child(1) {
        background-image: url("../img/opt_item3.png");
      }

      .opt_item:nth-child(2) {
        background-image: url("../img/opt_item2.png");
      }

      .opt_item:nth-child(3) {
        background-image: url("../img/opt_item1.png");
      }
    }
  }
}


#plate_nav {
  display: flex;
  padding-bottom: 17px;
  padding-top: 10px;

  .plate_item {
    flex: 1;
    display: flex;
    justify-content: center;

    .plate_box_long, .plate_box {
      position: relative;
      width: 156px;
      height: 104px;
      background: url("../img/plate.png") no-repeat;
      background-size: 100% 100%;

      &:after {

      }

      .plate_til {
        font-size: 16px;
        width: 80px;
        text-align: center;
        line-height: 28px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #03FFE4;
      }

      .plate_num {
        font-size: 42px;
        margin-top: 4px;
        font-family: Impact;
        text-align: center;
        font-weight: 400;
        color: #FFFFFF;
        text-shadow: 0px 2px 4px rgba(0, 16, 45, 0.32);

        p {
          width: 100%;
          position: relative;

          .unit {
            display: block;
            content: '/个';
            width: 30px;
            font-size: 14px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #FFFFFF;
            position: absolute;
            top: 45%;
            right: 4px;
          }
        }
      }
    }

    .plate_box_long {
      background-image: url("../img/plate_long.png");

      .plate_til {
        width: 112px;
      }
    }
  }
}

main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 10px 16px;
  justify-content: space-between;
  //align-items: center;
  align-content: space-between;
  position: relative;

  .page_nav {
    position: absolute;
    bottom: 100%;
    width: 100%;
    display: flex;

    .page_nav_item {
      padding: 4px 5px;
      background: #161741;
      border-radius: 2px;
      margin-right: 5px;
      font-size: 16px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #40F3EF;
      cursor: pointer;
      &.page_nav_item_active {
        background: #161741;
        color: #FFFFFF;
        border-radius: 2px;
      }
    }
  }
  &.main_left_right {

    flex-wrap: nowrap;
    align-items: initial;

    .main_left {
      margin-right: 16px;
    }

    .main_right {
      flex: 1;
    }
  }

  .charts_content_box_461_280 , .charts_content_box_280, .charts_content_box_308, .charts_content_box {
    width: 618px;
    height: 405px;
    display: flex;
    flex-direction: column;
    background: url("../img/charts_content_box.png");
    background-size: 100% 100%;

    .content-header {
      width: 100%;
      height: 30px;
      padding-top: 3px;
      padding-left: 2px;
      line-height: 30px;

      .ch-tit {
        font-size: 18px;
        padding: 0 8px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #FEFFFF;
      }
      .nav_tit_right_tip {
        float: right;
        font-size: 16px;
        padding-right: 33px
      }
      .nav_tit_right {
        float: right;
        margin: 0 10px;

        span {
          font-size: 14px !important;
        }
      }

      .nav_tit_right_v2 {
        float: right;
        margin: 0 10px;
        font-size: 16px;
      }

      .nav_tit {
        display: inline-block;
        cursor: pointer;

        .ch-tit {
          color: #37D1CE;

        }

        &.active {
          border-radius: 2px;
          background-color: #0C0D21;

          .ch-tit {
            color: #FEFFFF !important;
          }
        }
      }
    }

    .nav_tab_content {
      display: none;
      height: 100%;

    }

    .normal_chart, .main_body_table {
      width: 100%;
      height: 100%;
    }


    .main_body {
      flex: 1;
      height: 0;
      position: relative;

      .pie_chart {
        width: 100%;
        height: 100%;
      }

    }
  }

  .charts_content_box_280 {
    background-image: url("../img/charts_content_box_280.png");
  }
  .charts_content_box_280_2nav {
    background-image: url("../img/charts_content_box_280_2nav.png");
  }
  .charts_content_box_461_280 {
    width: 461px;
    background-image: url("../img/charts_content_box_461_280.png");
  }
  .charts_content_box_935_576 {
    width: 935px;
    background-image: url("../img/charts_content_box_935_576.png");
  }
  .charts_content_box_220 {
    background-image: url("../img/charts_content_box_220.png");
  }
  .charts_content_box_722_261 {
    width: 100%;
    height: 261px;
    background-image: url("../img/charts_content_box_722_261.png");
  }
  .charts_content_box_1154_672 {
    width: 100%;
    height: 672px;
    background-image: url("../img/charts_content_box_1154_672.png");
  }
  .charts_content_box_1252_308 {
    width: 100%;
    background-image: url("../img/charts_content_box_1252_308.png");
  }
  .charts_content_box_1255_632 {
    width: 100%;
    background-image: url("../img/charts_content_box_1255_632.png");
  }

  .charts_content_box_308 {
    background-image: url("../img/charts_content_box_308.png");
  }
  .charts_content_box_1251 {
    width: 1251px;
    background-image: url("../img/charts_content_box_1251.png");
  }
  .charts_content_box_632 {
    width: 100%;
    height: 100%;
    background-image: url("../img/charts_content_box_632.png");
    background-size: 100% 100%;
  }

  #map_container {
    box-sizing: border-box;
    padding: 9px 9px 21px;
    position: relative;

    .map {
      width: 100%;
      height: 100%;
      position: relative;

    }

    .statistics {
      position: absolute;
      width: calc(100% - 18px);
      bottom: 21px;
      height: 191px;
      display: flex;

      .left {
        width: 380px;
        background-color: rgba(17, 18, 52, 0.8);
        height: 100%;
        display: flex;
        box-sizing: border-box;
        align-content: space-between;
        flex-wrap: wrap;
        padding: 16px 21px;
        justify-content: space-between;
      }

      .statistics_item, .statistics_item_noicon {
        width: 155px;
        height: 72px;
        display: flex;
        align-items: center;
        background-color: #2DDDD8;

        &:nth-child(2) {
          .icon {
            background-image: url("../img/statistics_item2.png");
          }
        }

        .icon {
          margin-left: 20px;
          width: 40px;
          height: 40px;
          background: url("../img/statistics_item1.png") 100% 100%;
          background-size: 100% 100%;
        }

        .num_content {
          padding-left: 15px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .h {
            height: 24px;
            font-size: 30px;
            font-family: Impact;
            font-weight: 400;
            color: #111234;
          }

          .desc {
            font-size: 16px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #111234;
          }
        }
      }

      .statistics_item_noicon {
        width: 98px;

        .num_content {
          width: 100%;
          padding-left: 0;
          text-align: center;
        }
      }

      .right {
        flex: 1;
        margin-left: 2px;
        background-color: rgba(17, 18, 52, .8);

        .filter_header {
          padding-top: 10px;
          display: flex;
          flex-direction: row-reverse;

          .date-input {
            position: relative;
            width: 283px;
            height: 32px;
            box-sizing: border-box;
            border: 1px solid #40F3EF;

            input {
              background-color: transparent;
              outline: none;
              border: none;
              height: 100%;
              font-size: 16px;
              color: #fff;
              font-family: Microsoft YaHei;
              font-weight: 400;
            }

            .icon {
              position: absolute;
              width: 18px;
              height: 18px;
              right: 7px;
              top: 50%;
              transform: translateY(-50%);
              background: url("../img/date.png");
              background-size: 100% 100%;

            }
          }

          .btn-search {
            padding: 0 20px;
            outline: none;
            border: none;
            height: 32px;
            cursor: pointer;
            line-height: 32px;
            background: #6EFFFA;
            font-size: 16px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #111234;

          }
        }
      }
    }
  }


}
// 左右滚动
.mscroll-container {
  display: flex;
  box-sizing: border-box;
  padding: 0 14px;
  align-items: center;

  .left_btn, .right_btn {
    cursor: pointer;
    width: 28px;
    height: 80px;
    background: url("../img/list_btn_right.png");
    background-size: 100% 100%;
  }

  .right_btn {
    background-image: url("../img/list_btn_left.png");
  }

  .mscroll_content {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;

    .scroll_main_content {
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
    }
  }

}

.device_item {
  flex: 0 0 33.33%;
  padding-left: 30px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  .device_type1 {
    background-image: url("../img/device_type1.png") !important;
  }

  .device_type2 {
    background-image: url("../img/device_type2.png") !important;
  }

  .device_type3 {
    background-image: url("../img/device_type3.png") !important;
  }

  .icon {
    display: inline-block;
    vertical-align: bottom;
    width: 56px;
    height: 56px;
    background-image: url("../img/device_type1.png");
    background-size: 100%;
  }

  .device_name, .device_label {
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #40F3EF;
    line-height: 26px;
  }

  .device_name {
    padding: 0 10px;
  }

  .device_label {
    display: inline-block;
    width: 100px;
  }

  .number {
    font-size: 18px;
    font-family: Impact;
    font-weight: 400;
    color: #FEFFFF;
  }
}

$table_border_color: rgba(47, 249, 240, 0.4);
.main_body_table {
  box-sizing: border-box;
  padding: 0 8px;

  .layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table[lay-even] tr:nth-child(even) {
    background-color: transparent;
  }

  .layui-table-view {
    border-color: $table_border_color;
    margin: 0;

    .layui-table {
      width: 100%;
    }
  }

  .layui-table-header {
    border-color: $table_border_color;

    tr {
      background-color: #141546 !important;
      color: #fff;
    }

  }

  tr td {
    border-color: $table_border_color;
    border-right: none;
    color: #34B8BE;
    word-wrap: break-word;
  }

  .layui-table-cell {
    font-size: 16px;
    height: auto;
    white-space: inherit;
  }

  .layui-table {
    width: 100%;
    background: initial !important;
  }

  .layui-table-body {
    overflow: hidden;
  }

  .layui-table-init {
    background-color: initial;
  }

  .layui-table-view .layui-table th {
    border-right: none;
  }
}

//#m_modal {
//  position: fixed;
//  width: 100vw;
//  height: 100vh;
//  z-index: 10;
//  background: rgba(0,0,0, .3);
//}
.modal_content {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1220px;
  height: 593px;
  background: url("../img/modal_box.png");
  background-size: 100%;
  filter: drop-shadow(0px 0px 50px rgba(13, 251, 232, 0.2));
  padding: 20px 25px 0 38px;

  .modal_header {
    //padding: 0 ;
    span {
      font-size: 18px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #FEFFFF;
      float: left;
    }

    i {
      float: right;
      color: #0DFBE7;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      cursor: pointer;
      text-align: center;
      width: 24px;
      border-radius: 50%;
      display: block;
      background: #001C59;
      height: 24px;
    }
  }

  .modal_body {
    flex: 1;
    height: 0;
    margin-top: 35px;
  }
}

.main_body {
  .preview_img {
    margin: 0 9px 20px 9px;
    height: calc(100% - 20px);
    position: relative;
  }

  .fill_screen_btn {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url("../img/fullscreen.png");
    background-size: 100% 100%;
    cursor: pointer;
    right: 3px;
    bottom: 5px;
    z-index: 2;
  }
}

.custom_progress_chart {
  display: flex;
  padding: 20px 0;
  height: 100%;
  box-sizing: border-box;

  .progress_chart {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .progress_num, .progress_desc {
      font-size: 16px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #FFFFFF;
    }

    .progress_body {
      height: 170px;
      width: 26px;
      background-color: #40F3EF;
      border-radius: 12px;
      overflow: hidden;
      vertical-align: bottom;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      .progress_value {
        display: inline-block;
        width: 100%;
        border-radius: 12px 12px 0 0;
        background-color: #FF9125;
      }
    }
  }
}

.map_type {
  z-index: 6;
  position: absolute;
  left: 16px;
  top: 65px;
}

.map_type .map_figure {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 98px;
  margin: 0 2px;
  height: 56px;
  vertical-align: top;
  color: #FFF;
  background: url("../img/maptype.png") no-repeat;
  background-size: 100%;
  border: 1px solid rgba(255, 255, 255, .1);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: .75;
}

.map_type .map_figure .txt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  font-size: 16px;
  line-height: 1.8;
  color: #40F3EF;
  text-align: center;
  background: rgba(21, 23, 83, 0.64);
}

#btn_mapType {
  background-position: 0 -112px;
}

#btn_mapType2 {
  background-position: 0 -56px;
}

.map_type .map_figure.cur {
  border: 1px solid #FFF !important;
  box-shadow: 0 0 8px rgba(255, 255, 255, .5) inset;
  opacity: 1;
}

.msg {
  position: absolute;
  top: 0;
  left: 410px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  height: 38px;
  padding: 0 8px;
  font-size: 14px;
  line-height: 38px;
  color: #FFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(191, 239, 255, .05);
}

.ico_msg {
  width: 18px;
  height: 18px;
  margin: 0 6px;
  background-position: -240px -40px;
}

.search_area {
  position: absolute;
  right: 0;
  top: 0;
  width: 238px;
  height: 40px;
  box-sizing: border-box;
  font-family: 'Microsoft Yahei';
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #3BDFDD;
  background: rgba(20, 21, 64, 0.7);
  input::-webkit-input-placeholder {
    color: #FEFFFF;
  }
  input:-moz-placeholder {
    color: #FEFFFF;
  }
  input::-moz-placeholder {
    color: #FEFFFF;
  }
  input:-ms-input-placeholder {
    color: #FEFFFF;
  }
}

.search_area .inp_t {
  height: 30px;
  width: 186px;
  padding: 3px 10px;
  background: none;
  border: none;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FEFFFF;
}

.search_area .btn_sea {
  width: 14px;
  height: 14px;
  border: none;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/map_search.png");
  background-size: 100%;
}

.translate_wrap {
  position: absolute;
  top: 38px;
  left: 0;
  width: 238px;
  line-height: 1.65;
  border-radius: 4px;
  border: 1px solid rgba(191, 239, 255, .05);
  background: rgba(191, 239, 255, .2);
}

.translate_wrap .list {
  overflow: auto;
  max-height: 160px;
}

.translate_wrap .list li {
  padding: 5px 10px;
  color: #FEFFFF;
  font-size: 16px;
}

.translate_wrap .list li:hover {
  background-color: rgba(245, 245, 245, .2);
}

.condition {
  display: inline-block;
  height: 40px;
  padding-left: 10px;
  background: #141540;
  box-sizing: border-box;
  border: 1px solid rgba(59, 223, 221, 0.7);
  border-radius: 2px;
  .layui-form-checkbox[lay-skin=primary] {
    span {
      font-size: 16px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #FEFFFF;
    }
  }

  .layui-form-checked[lay-skin=primary] i {
    background-color: #3BDFDD;
    border-color: #3BDFDD !important;
  }
}


// 视频监控部分页面
#video-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 100%;
  .video_box {
    margin: 8px;
    background:
            //url("../img/video_bg_left_top.png") top left no-repeat,
            linear-gradient(to left,rgba(35 ,132 ,135, 1), rgba(35 ,132 ,135, 1)) top no-repeat,
            linear-gradient(to left,rgba(35 ,132 ,135, 1), rgba(35 ,132 ,135, 1)) bottom no-repeat,
            linear-gradient(to bottom,rgba(35 ,132 ,135, 1), rgba(35 ,132 ,135, 1)) left no-repeat,
            linear-gradient(to bottom,rgba(35 ,132 ,135, 1), rgba(35 ,132 ,135, 1)) right no-repeat;
            //url("../img/video_bg_right_top.png") top right no-repeat,
            //url("../img/video_bg_left_bottom.png") bottom left no-repeat,
            //url("../img/video_bg_right_bottom.png") bottom right no-repeat;
    background-size: calc(100% - 340px) 1px, calc(100% - 340px) 1px,1px calc(100% - 340px) ,1px calc(100% - 340px) ;
    position: relative;
    box-sizing: border-box;
    padding: 2px 2px 20px;

    div.bg_border {
      position: absolute;
      width: 170px;
      height: 170px;
      pointer-events: none;
      background-size: 100% 100%;
    }
    .bg_left_top {
      left: 0;
      top: 0;
      background-image: url("../img/video_bg_left_top.png");
    }

    .bg_left_bottom {
      left: 0;
      bottom: 0;
      background-image: url("../img/video_bg_left_bottom.png");
    }

    .bg_right_top {
      right: 0;
      top: 0;
      background-image: url("../img/video_bg_right_top.png");
    }

    .bg_right_bottom {
      right: 0;
      bottom: 0;
      z-index: 2;
      background-image: url("../img/video_bg_right_bottom.png");
    }
    .header_title,.video_bottom_opt {
      height: 40px;
      background-color: #15164F;
      padding: 0 8px;
      line-height: 40px;

      display: flex;
      .til {
        flex: 1;
        font-size: 18px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #FEFFFF;
      }
      .video_opt {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .video_top_opt {
        margin-left: 18px;
        cursor: pointer;
      }
      .camera {
        background-image: url('../img/camera.png');
      }
      .videotape {
        background-image: url('../img/videotape.png');
      }
      .zoom {
        background-image: url('../img/zoom.png');
        margin-right: 8px;
      }
    }
    .video_body {
      height: calc(100% - 40px);
      box-sizing: border-box;
      padding: 0 8px;
      background-color: #111234;
      video {
        width: 100%;
        height: 100%;
        background-color: #fff;
      }
    }

    .video_bottom_opt {
      padding-top: 8px;
      justify-content: flex-end;
      height: 60px;
      position: absolute;
      box-sizing: border-box;
      width: calc(100% - 4px);
      bottom: 2px;
      z-index: 1;
      padding-right: 18px;
      background-color: rgba(21, 22, 79, 0.88);
      button {
        height: 24px;
        cursor: pointer;
        border: none;
        line-height: 24px;
        outline: none;
        padding: 0 10px;
        background: #2548C9;
        border-radius: 2px;
        font-size: 16px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #6EFFFA;
      }
      i {
        margin-left: 17px;
      }
      .reback {
        background-image: url('../img/reback.png');
      }

      .bigscreen {
        background-image: url('../img/bigscreen.png');
      }
    }

  }
  &.video_size_4 {
    .video_box {
      flex: 0 0 calc(50% - 8px);
      height: calc(50% - 8px);
    }
    .video_box:nth-child(-n + 2) {
      margin-top: 0;
    }
    .video_box:nth-child(n + 2) {
      margin-bottom: 0;
    }
    .video_box:nth-child(2n - 1) {
      margin-left: 0;
    }
    .video_box:nth-child(2n) {
      margin-right: 0;
    }
  }

  &.video_size_9 {
    .video_box {
      flex: 0 0 calc(33.3% - 10.7px);
      height: calc(33.3% - 10.7px);
    }
    .video_box:nth-child(-n + 3) {
      margin-top: 0;
    }
    .video_box:nth-child(n + 6) {
      margin-bottom: 0;
    }
    .video_box:first-child , .video_box:nth-child(3n + 1) {
      margin-left: 0;
    }
    .video_box:nth-child(3n) {
      margin-right: 0;
    }
  }
}

// 租赁合同图标
.icon_wyc {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 37px;
  box-sizing: border-box;
  .wyc_item {
    display: flex;
    align-items: center;
    flex:  0 0 33.3%;
    .wyc_content {
      margin-left: 20px;
      p {
        font-size: 30px;
        font-family: Impact;
        font-weight: 400;
        color: #FEFFFF;
        span:last-child {
          font-size: 16px;
          font-family: Microsoft YaHei;
          font-weight: 400;
          color: #FEFFFF;
        }
      }
      p:last-child {
        font-size: 16px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #FEFFFF;
      }
    }
  }
}

//
.percent_cricle {
  width: 196px;
  height: 196px;
  background: url("../img/percent_circle.png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .percent_num {
    font-size: 30px;
    font-family: Impact;
    font-weight: 400;
    color: #FFFFFF;
  }
  .percent_desc {
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #40F3EF;
  }

}


//  技术管理 滚动块
.video_scroll_item_container  {
  flex: 0 0 25%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .video_scroll_item {
    cursor: pointer;
    width: 208px;
    height: 120px;
    position: relative;
    border-radius: 4px;

    span {
      width: 100%;
      text-align: center;
      font-size: 30px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-family: Microsoft YaHei;
      font-weight: bold;
      color: #0043BF;
      -webkit-text-stroke: 1px #FFFFFF;
      text-stroke: 1px #FFFFFF;
    }
  }


}




.icon28,.icon48, .icon32 {
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  width: 28px;
  height: 28px;
  background-size: 100% 100%;
}
.icon48 {
  width: 48px;
  height: 48px;
}
.icon32 {
  width: 32px;
  height: 32px;
}